<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    
    <link href="https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid" rel="stylesheet">

</head>
<body>

    <header>
        <!-- logo -->
        <img src="/images/logo-mercado-liebre.svg" width="360px" alt="Logo de Mercado Liebre">
            

        <!-- Barra de busqueda -->

        <input type="search" id="site-search" placeholder="Buscar productos" name="site-search">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>    
        </div>
        <button>
            <i class="fa-solid fa-magnifying-glass"></i> 
        </button>
        


        <p>Comprá en cuotas y sin tarjeta de crédito</p>

        
        <!-- Barra de navegacion que posea las siguientes opciones -->
    <nav class="nav-bar">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    </header>

    <!-- Productos -->
    <main>
        <img src="/images/img-home-banner.jpg" width="610px" alt="Banner de Mercado Liebre">

        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360px" alt="Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" width="360px" alt="Computadora MacBook Pro 2019">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="Celular Samsung Galaxy S10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" width="360px" alt="Televisor Smart TV 43 pulgadas">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>Smart Tv Samsung 43"</h4>            
        </section>
        <section>
            <h3>Ofertas</h3>

            <img src="/images/img-cafetera-moulinex.jpg" width="360px" alt="Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>


            <img src="/images/img-macbook-pro-2019.jpg" width="360px" alt="Computadora MacBook Pro 2019">
            <p>$6.770</p>
            <p>20% OFF</p>
            <h4>Macbook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="360px" alt="Celular Samsung S10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" width="360px" alt="Televisor Smart Tv 43 pulgadas">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h4>Smart Tv Samsung 43"</h4>
        </section>
    </main>

    <footer>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>
</body>
</html>